{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^(react/(.*)$)",
    "^(react)",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^hooks/(.*)$",
    "^components/(.*)$",
    "^pages/(.*)$",
    "^locales/(.*)$",
    "^routes/(.*)$",
    "^assets/(.*)$",
    "^constants/(.*)$",
    "^api/(.*)$",
    "^tools/(.*)$",
    "^src/(.*)$",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
